*{
	font-family: "Helvetica" sans-serif;
	font-size: 15px;
}

#external-style{
	color: yellow;
}

h1{
	font-size: 32px;
}

#things-to-learn{
	text-transform: uppercase;
}

.languages{
	background-color: lightsteelblue;
}

[a]{
	border-width: 2px;
	border-style: solid;
	border-color: lightsteelblue;
}

img + #other-things{
	list-style-type: none;
}

section #image{
	width: 150px;
	height: 150px;
	border-radius: 75px;
}

#image ~ #last-paragraph{
	text-align: center;
}

#other-things > .framework{
	letter-spacing: 10px;
}